[submodule "packages/admithub-auth"]
  path = packages/admithub-auth
  url = https://github.com/AdmitHub/admithub-auth.git
[submodule "packages/admithub-common"]
	path = packages/admithub-common
	url = https://github.com/AdmitHub/admithub-common.git
